!!!
%html
  %head
    %title Choeropsis
  %body
    %h1
      = "#{batch.project.name} (#{batch.environment.name})"
    %h2
      = "Page: #{batch.page.path}"
    %h3
      = "Screenshots taken: #{batch.created_at}"
    .jumbotron
      - batch.snaps.each_slice(4) do |slice|
        .row
          - slice.each do |snap|
            .col-md-1
              %a{ href: snap.image_url }
                %img{ src: snap.thumb_url }
                %br
                %span.os
                  = "#{snap.platform.os} #{snap.platform.os_version}"
                %span.browser
                  = "#{snap.platform.browser} #{snap.platform.browser_version}"
